---
import { getImageById, getNodeByURI } from "../js/api";
const { type } = Astro.props;

// Type of content
const getPageData = await getNodeByURI(Astro.url.pathname);
let { title = "Default", excerpt = "Default"} = getPageData.nodeByUri;

// Featured image
let featuredImageId = getPageData?.nodeByUri?.featuredImage?.node?.databaseId
if (!featuredImageId) featuredImageId = 49

// Page livres
if (getPageData.nodeByUri.__typename === 'ContentType' && getPageData.nodeByUri.name === 'livres') {
    featuredImageId = 79
    title = 'Livres'
    excerpt = ''
}

// Page Accueil
if (getPageData.nodeByUri.__typename === 'ContentType' && getPageData.nodeByUri.name === 'post') {
    featuredImageId = 49
    title = 'Accueil'
    excerpt = 'ex Maître de conférences en histoire contemporaine, Nicole Verney-Carron prolonge sa passion pour la recherche et a transmission en se consacrant à la littérature.'
}

const featuredImage = await getImageById(featuredImageId);


---

<section>
    <div class="container-fluid">
        <div class="row align-items-center">
            {
                type.__typename === 'Post' || 
                (type.__typename === 'Page' && type?.isArchive?.fieldGroupName !== 'isArchive') ? null :
                (
                    <div class="col-12 col-md-6 p-0 d-flex flex-column align-self-start">
                        <img 
                            src={featuredImage?.mediaItem?.sourceUrl}
                            alt={featuredImage?.mediaItem?.altText}
                            class="object-fit-cover img-fluid hero-img"
                        />
                    </div>
                )

            }

            <div class={type.__typename === 'Post' ? '' : 'col-md-6'}>
                    <div class="py-5 px-4 px-lg-5">
                    <h1>{title}</h1>
                    {          
                        // Page livre
                        type.__typename === 'ContentType' && type.names === 'livres' ||

                        // Page accueil 
                        type.__typename === 'ContentType' && type.names === 'post' ||

                        // Page d'un post ou d'une single
                        type.__typename === 'Post' || 
                        (
                            type.__typename === 'Page' && 
                            type?.isArchive?.typeOfPostType === null
                        ) ? null :   
                        (
                            <div 
                                class="strong" 
                                set:html={excerpt}
                            ></div>
                        )
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .hero-img {
        border-bottom-right-radius: 100px;
        aspect-ratio: 16 / 10;
    }
</style>